  <div class="row">
  	<div class="col-xs-3">
  		<div class="panel panel-default">
       <div class="panel-body">
        <p>Profile</p>
      </div>
    </div>
  </div>
<div class="col-xs-6">
    <% for @p in @posts %>
      <div class="panel panel-default">
        <div class="panel-body">
            <p><%= @p.content %></p>
        </div>
      </div>
    <% end %>
  </div>
 
<!-- row 2 starts here -->
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Trends</p>
      </div>
    </div>
  </div>
</div>
 <div class="col-xs-3 col-xs-offset-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>About</p>
      </div>
    </div>
  </div>
</div>



